@page "/Categorias/Editar/{categoriaId:int}"
@inject IHttpService http
@inject NavigationManager navigationmanager

<h3>Editar categoria></h3>>

<FormularioCategoria categorias="categoria" onCancel="Cancelar" onvalidsubmit="Grabar"/>


@code
{
    private Categoria categoria = new Categoria();

    [Parameter] public int categoriaId { get; set; }


    protected async override Task OnInitializedAsync()
    {

        await Mostrar();

    }

    private async Task Mostrar()
    {
        var respuesta = await http.Get<Categoria>($"api/Categorias/{categoriaId}");

        if (respuesta.Error)
        {
            var body = respuesta.HttpResponseMessage;
        }

        else
        {
            categoria = respuesta.Respuesta;
        }
    }

    private async void Grabar()
    {
        var respuesta = await http.Put<Categoria>($"api/Administradores/{categoriaId}"
        , categoria);

        if (respuesta.Error)
        {
            var body = respuesta.HttpResponseMessage;
        }

        navigationmanager.NavigateTo("/Administradores");
    }

    private void Cancelar()
    {
        navigationmanager.NavigateTo("api/Administradores");
    }
}