@page "/Proveedores"
@inject IHttpService http

<a class="btn btn primary" href="Proveedores/agregar">Nueva proveedor</a>


<h3>Lista de proveedores</h3>


<table>

      <tr>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Numero</th>
      </tr>

    
      @if (proveedores == null)
      {
        <tr>Cargando.......</tr>
    
      }
      else if(proveedores.Count==0)
      {
        <tr>No existen datos para cargar</tr>
    
      }
      else        
      {
          @foreach(var elemento in proveedores)
          {
              <tr>
                  <td>@elemento.Nombre</td>
                  <td>@elemento.CorreoElectronico</td>
                  <td>@elemento.NumeroTelefono</td>
                  <td>
                      <a class="btn btn primary" 
                          href="Proveedores/Editar/@elemento.Id">
                          Editar
                      </a>
                  </td>>
                  <td>
                      <button class="btn btn-warning" @onclick="()=>Eliminar(elemento)"> 
                          Borrar
                      </button>
                  </td>
              </tr>
          }
      }
</table>



<Funcionar @ref="funcionConfirmacion"
              verCancelar="true"
              verOk="true"
              textOk="Aceptar"
              Titulo="Borrar proveedor"
              onCancel="Cancelar"
              onConfirm="Borrar">
              <div>
                  Está por borrar el proveedor:  @ProveedorBorrar.Nombre
                  <br />
                  ¿Está seguro que desea continuar?
              </div>
</Funcionar>


@code
{
    List<Proveedor> proveedores=new List<Proveedor>();

    Funcionar funcionConfirmacion;

    Proveedor ProveedorBorrar;

    protected override async Task OnInitializedAsync()
    {

        await base.OnInitializedAsync();

        await Leer();

    }

    private async Task Leer()
    {

        var respuesta = await http.Get<List<Proveedor>>("api/Proveedores");
        {
            //<T> es la lista de Administradores

            if (!respuesta.Error)
            {
                proveedores = respuesta.Respuesta;
            }
        }
    }

    private void Eliminar(Proveedor proveedorBorrar)
    {
        ProveedorBorrar = proveedorBorrar;
        funcionConfirmacion.Ver();
    }

       private void Cancelar()
       {
           funcionConfirmacion.Ocultar();
        
           ProveedorBorrar = null;
       }


    private async Task Borrar()
    {

        var respuesta = await http.Delete($"api/Proveedores/{ProveedorBorrar.Id}");

        if(respuesta.Error)
        {
            var body = "Error";
        }
        Cancelar();
        await Leer();//vuelvo a leer la lista para que no tenga el elemento borrado

        //Con F12 puedo ver los errores en la consola del navegador
    }


}