@page "/Empleados"
@inject IHttpService http

<a class="btn btn primary" href="Empleados/agregar">Nuevo empleado</a>


<h3>Lista de empleados</h3>


<table>

      <tr>
        <th>Nombre</th>
        <th>Apellido</th>        
        <th>Edad</th>

      </tr>


    
      @if (empleados == null)
      {
        <tr>Cargando.......</tr>
    
      }
      else if(empleados.Count==0)
      {
        <tr>No existen datos para cargar</tr>
    
      }
      else        
      {
          @foreach(var elemento in empleados)
          {
              <tr>
                  <td>@elemento.Nombre</td>
                  <td>@elemento.Apellido</td>                  
                  <td>@elemento.Edad</td>

                  <td>
                      <a class="btn btn primary" 
                          href="Empleados/Editar/@elemento.Id">
                          Editar
                      </a>
                  </td>>
                  <td>
                      <button class="btn btn-warning" @onclick="()=>Eliminar(elemento)"> 
                          Borrar
                      </button>
                  </td>
              </tr>
          }
      }
</table>



<Funcionar @ref="funcionConfirmacion"
              verCancelar="true"
              verOk="true"
              textOk="Aceptar"
              Titulo="Borrar empleado"
              onCancel="Cancelar"
              onConfirm="Borrar">
              <div>
                  Está por borrar el administrador:  @EmpleadoBorrar.Nombre
                  <br />
                  ¿Está seguro que desea continuar?
              </div>
</Funcionar>


@code
{
    List<Empleado> empleados=new List<Empleado>();

    Funcionar funcionConfirmacion;

    Empleado EmpleadoBorrar;

    protected override async Task OnInitializedAsync()
    {

        await base.OnInitializedAsync();

        await Leer();

    }

    private async Task Leer()
    {

        var respuesta = await http.Get<List<Empleado>>("api/Empleados");
        {
            //<T> es la lista de Administradores

            if (!respuesta.Error)
            {
                empleados = respuesta.Respuesta;
            }
        }
    }

    private void Eliminar(Empleado empleadoBorrar)
    {
        EmpleadoBorrar = empleadoBorrar;
        funcionConfirmacion.Ver();
    }

       private void Cancelar()
    {
        funcionConfirmacion.Ocultar();
        EmpleadoBorrar = null;
    }


    private async Task Borrar()
    {

        var respuesta = await http.Delete($"api/Empleados/{EmpleadoBorrar.Id}");

        if(respuesta.Error)
        {
            var body = "Error";
        }
        Cancelar();
        await Leer();//vuelvo a leer la lista para que no tenga el elemento borrado

        //Con F12 puedo ver los errores en la consola del navegador
    }


}
